[2017-11-13 17:35] the-ethan-hunt opened #1 "B.E.N.J.I. not working properly"
The assistant is not hearing voice commands. Most of the commands have to be typed out. Secondly, only some commands are working. We need to to look into it.

[2017-11-13 17:37] the-ethan-hunt opened #2 "Improve ReadMe"
The declassified debrief should add up in the background. We need to write more about how B.E.N.J.I should be working and what are its requirements. We also need to include the screenshots of its working.

[2017-11-14 12:04] the-ethan-hunt opened #3 "Add new features"
B.E.N.J.I. can have more features! Add them and push a PR!

[2017-11-16 13:14] the-ethan-hunt opened #4 "Make B.E.N.J.I. compatible with Linux"
Currently, the digital assistant is compatible only with Windows.

[2017-11-16 13:16] the-ethan-hunt opened #5 "Improve GUI"
B.E.N.J.I. is having a very primeval GUI as of now. Having a great, attractive GUI would make it look more attractive :smile:

[2017-11-20 16:15] the-ethan-hunt opened #6 "Fix Youtube feature"
The Youtube feature of B.E.N.J.I. is not working properly.

[2017-11-20 16:18] the-ethan-hunt opened #7 "Fix news parts"
The API for several news agencies is not working properly. Errors messages are coming up for every agency.

[2017-11-25 06:09] Parth-Vader opened #9 "Unable to clone"
Authentication failed for 'https://github.com/the-ethan-hunt/B.E.N.J.I/'

[2017-11-25 13:55] lapalb commented on #9
Can you post the screenshot. May be you haven't signed up for your git shell

[2017-11-25 14:33] Parth-Vader commented on #9
@lapalb My bad. I missed a dot (.) at the end. Closing.

[2017-11-25 14:33] #9 closed

[2017-11-28 05:51] NIteshx2 opened #11 "Make B.E.N.J.I. Compatible on win64 bit"
While trying to run BENJI , i'm unable to import wx on pycharm 64bit. Need a workaround.

[2017-11-28 06:44] NIteshx2 commented on #1
This issue is'nt yet fixed ? I had created on such assistant . Maybe that could help .
https://github.com/NIteshx2/PyAssistant

[2017-11-28 07:14] NIteshx2 opened #13 "Create requirements.txt"
Have you considered using `pip` and having a file namely `requirements.txt`? In that way you can directly install the dependencies using `pip install -r requirements.txt` .

[2017-11-28 11:58] the-ethan-hunt commented on #13
A nice issue for a first-timer :smile:

[2017-11-29 09:16] rupesh1310 opened #15 "Wanted to contribute in your project"
I have few features that i would like to add.

[2017-11-29 11:24] the-ethan-hunt commented on #15
Hello @rupesh1310 ! You can send a PR mentioning [this issue](https://github.com/the-ethan-hunt/B.E.N.J.I./issues/3) for new features. I am closing this issue :smile:

[2017-11-29 11:25] #15 closed

[2017-11-29 11:50] the-ethan-hunt commented on #1
If you would like to work on it, I will assign this issue to you.

[2017-11-30 07:04] the-ethan-hunt opened #17 "Make a list of contributors.md"
As contributors keep increasing, we can make a `contributors.md` to list their names and recognize their efforts :smile:

[2017-11-30 10:25] BrianMwangi21 opened #19 "Change the commands"
Hi, newbie here but willing to contribute to this project.

I would like to work on the commands, eg "who are you " should work the same with "who are you" and "Who are you" or any combination.

Either change all input strings to small letters then strip the spaces after or something. How is that ?

[2017-11-30 11:58] rishabh0098 commented on #17
I can do this

[2017-11-30 12:02] the-ethan-hunt commented on #17
Sure, but we need this at the end(or the middle of the coding duration) when there are a significant number of the contributors. I am however, assigning this issue to you

[2017-11-30 12:06] the-ethan-hunt commented on #19
Sounds cool. You can also try  "who r u". Assigning the issue to you

[2017-11-30 15:08] BrianMwangi21 commented on #19
Thanks

[2017-12-01 02:18] kb-studios commented on #13
I am willing to work on this issue

[2017-12-01 05:11] the-ethan-hunt commented on #13
You are welcome to work on it :smile:

[2017-12-01 05:12] the-ethan-hunt commented on #13
We have received a PR regarding this some time ago. How about you solve some other cool issue?

[2017-12-01 06:34] #7 closed

[2017-12-01 06:36] the-ethan-hunt opened #23 "Make B.E.N.J.I. compatible with Mac OS"
We are working on compatibility issues with Linux. We would also like to work on Mac Os for the same

[2017-12-01 06:37] the-ethan-hunt opened #24 "Create a new logo"
B.E.N.J.I. is having quite an old-fashioned logo. Indulge your creativity to make a new awesome logo :tada:

[2017-12-01 07:44] kb-studios commented on #4
Should a new file be created for the linux version? Because the imports and functions could vary!
Eg. benji-linux.py

Or do we continue on the same file and make it compatible for linux.

[2017-12-01 07:46] the-ethan-hunt commented on #4
Making a new file is better. You can name it as `linux/benji.py` and mention about this in the `readme`

[2017-12-01 08:28] NIteshx2 commented on #11
The news parts don't seem to be working on win64

[2017-12-01 08:41] the-ethan-hunt commented on #11
The thing with news part is you need to have your own `API key` for each news bulletin. Check it on the website.

[2017-12-01 10:37] kb-studios commented on #4
Made a PR. I used `pyttsx` which is supposed to be cross-platform. So the file I wrote is platform-independent. (is supposed run on a mac too, haven't tested it).
I feel keeping the Linux version in a separate file may be a problem, as the features added to the main file are not reflected here.

[2017-12-01 11:46] the-ethan-hunt commented on #4
Closing this issue for now

[2017-12-01 11:46] #4 closed

[2017-12-01 11:49] the-ethan-hunt commented on #2
B.E.N.J.I. is now working for Linux too :tada:  Please include this in the `readme.md`

[2017-12-01 13:20] Yatish04 opened #28 "news and cricket not working"
All the news and  features are not working

[2017-12-01 13:21] BrianMwangi21 commented on #28
lemme send you a video of them working

[2017-12-01 13:30] Yatish04 commented on #28
Nothing is happening when i test for cricket and news in mine

[2017-12-01 13:44] BrianMwangi21 commented on #28
<iframe class="imgur-embed" width="100%" height="630" frameborder="0" src="https://i.imgur.com/wx2aEFu.gifv#embed"></iframe>

[2017-12-01 14:01] Yatish04 commented on #28
try typing just bbc

[2017-12-01 14:24] Yatish04 opened #31 "Breaking the code into modules"
It will be helpful to debug if we can break this large code into smaller modules so that debugging is easy.

[2017-12-01 14:36] BrianMwangi21 commented on #28
unless you change `elif put.startswith('bbc ')` to `elif put.startswith('bbc')`

[2017-12-01 15:53] kb-studios commented on #31
I would like to contribute to this!
More discussion on this topic can be done before implementing as to how this can be done optimally (so as to not break any existing code), what design patterns to use, etc.

[2017-12-01 16:36] the-ethan-hunt commented on #28
Closing this issue for now

[2017-12-01 16:36] #28 closed

[2017-12-01 16:40] the-ethan-hunt opened #32 "Make code modular"
This is a discussion to on how to make the code more modular and easy for debugging

[2017-12-01 16:40] the-ethan-hunt commented on #31
I agree partly with @kb-studios . We can hold a discussion [here](https://github.com/the-ethan-hunt/B.E.N.J.I./issues/32)

[2017-12-01 17:15] BrianMwangi21 commented on #32
Where do we start ?

[2017-12-01 17:17] Yatish04 commented on #32
I was thinking about modularising each functionality that we are going to add.

[2017-12-01 17:19] BrianMwangi21 commented on #32
I'm not too familiar with modularising. Any tutorials I can quickly use to catch up ? Or can you explain in simple step forms ?

PS: Just asking, is it how the 'play jole' function is performed in another file in the modules folder or ?

I appreciate.

[2017-12-01 17:23] Yatish04 commented on #32
Convert the big code into small python files with each of them being able to execute the functions it is supposed to be so that we can import those in the main program and use it along with GUI.

[2017-12-01 17:32] BrianMwangi21 commented on #32
Can you point me to examples ?

[2017-12-01 17:33] the-ethan-hunt opened #33 "Update readme with working of B.E.N.J.I. on windows"
Take a `.gif` and post it on `readme.md` to show the working of B.E.N.J.I. on Windows

[2017-12-01 17:34] the-ethan-hunt commented on #32
But this needs to be done with both the versions.

[2017-12-01 17:35] BrianMwangi21 commented on #32
You mean the Windows and Linux versions ?

[2017-12-01 17:38] the-ethan-hunt commented on #32
Yes, of course. Before we modulate the code, I suggest we remove the issues plaguing it like Youtube not working on Linux and absence of B.E.N.J.I. for MacOS. Just an opinion. :sweat_smile:

[2017-12-01 17:44] BrianMwangi21 commented on #32
Everything else is okay but those two issues ?

[2017-12-01 17:46] the-ethan-hunt commented on #32
Just an opinion. I would like to know what you all think and then we can proceed. Open-source is a democracy after all :smile:

[2017-12-01 17:51] BrianMwangi21 commented on #32
I second you. Once B.E.N.J.I. works on all platforms, we now build up on it

[2017-12-02 01:41] kb-studios commented on #32
[code]

As suggested by @Yatish04 too, we could have the following structure for our code. @the-ethan-hunt  yes, we should fix other issues first, and then make a switch. Maybe we could also realise a better structure for our code by then. :-)

[2017-12-02 03:50] kb-studios commented on #11
Tested the linux version of B.E.N.J.I. on 64-bit Windows (64-bit python).
With a little modification in the imports (the imports and now conditional, so it imports the correct modules according to the OS) and requirements.txt, the code successfully ran on a windows machine,
I guess we now have a **Cross-Platform B.E.N.J.I**!

[2017-12-02 04:59] Yatish04 commented on #32
This is fine I suppose @kb-studios

[2017-12-02 05:40] the-ethan-hunt commented on #32
Then I think we should solve the other issues and then focus on making it modular. I liked what @kb-studios has done. We could later go by that

[2017-12-02 05:41] the-ethan-hunt commented on #11
@kb-studios can you also run the tests on windows 32-bit? (Hint: virtual machine)

[2017-12-02 05:42] the-ethan-hunt opened #35 "Add badges"
Add badges of 'works on Windows' , 'works on Linux', 'made with :heart: in Python' in `readme.md`

[2017-12-02 07:29] kb-studios commented on #11
Would running it on a 32-bit python do the job? As my pc has a x86 architecture.

[2017-12-02 07:50] kb-studios commented on #11
@the-ethan-hunt the code is working perfectly on 32 bit python too.

[2017-12-02 09:13] CaptainDaVinci opened #37 "Unable to run on Linux"
I have tried installing the dependencies from `./linux/requirements-linux.txt`  however I am facing problems with certain modules. `pyttsx` gives an import error in python3, for python3 `pyttxs3` is required.

[2017-12-02 09:49] the-ethan-hunt commented on #37
@kb-studios , please take a look at this issue

[2017-12-02 10:26] kb-studios commented on #37
For me, pyttsx worked in Linux. But while testing it out on windows I had to go for pyttsx3. Ok then its better that we go with pyttsx3.
For the windows version I did
`import pyttsx3 as pyttsx`
This fix worked, as I didn't have to re-factor the rest of the code.

[2017-12-02 10:28] kb-studios commented on #37
[code]

For now, am doing the imports this way. So as to avoid any sorts of errors while configuring the dependencies.

[2017-12-02 10:36] the-ethan-hunt commented on #11
That's great @kb-studios ! :tada:  I wonder why it's not running on my device.

[2017-12-02 10:51] kb-studios commented on #11
@the-ethan-hunt What exactly is the error?

[2017-12-02 10:52] kb-studios commented on #11
The current master branch doesn't run on windows. I made a few changes to the file. (The import section) and then it started working

[2017-12-02 12:06] Yatish04 commented on #37
@kb-studios is the youtube play working in linux?

[2017-12-02 13:10] vchrombie commented on #2
Hello, I am interested in this project.
Can I help you?

Can I add some screenshots of B.E.N.J.I, working in linux?

[2017-12-02 13:11] vchrombie commented on #35
I am interested in this project.
Can I take this issue?

[2017-12-02 16:45] vchrombie commented on #35
I submitted a PR #38.
Can you please review it and inform me for any changes.

[2017-12-02 16:46] vchrombie commented on #33
Can I take this issue?
I will work on it.

[2017-12-02 17:23] the-ethan-hunt commented on #35
Closing this issue

[2017-12-02 17:23] #35 closed

[2017-12-02 17:24] the-ethan-hunt commented on #33
@vchrombie , you have already solved a `good first issue`. Please leave it for another newbie :smile:

[2017-12-02 17:25] vchrombie commented on #33
Okay,
If no one takes it, can you give it to me?

[2017-12-02 17:28] the-ethan-hunt commented on #11
@kb-studios , I would suggest keeping the windows and Linux sections separately. After we get the MAc OS version, we can have a cross-platform B.E.N.J.I.

[2017-12-02 19:40] rohanricky opened #40 "Shift GUI to Tkinter"
Proposal to shift GUI to tkinter.
wx is a heavy-weight module with no direct installation(pip3) in linux.
Tkinter is well maintained and easier to code.
What say?

[2017-12-03 00:54] GS3207 opened #41 "Windows Open Website doesn't complete the webpage name"
If I type open facebook it tries to access www.facebook .Adding a .com after it will solve the issue.

[2017-12-03 01:37] kb-studios commented on #11
@the-ethan-hunt The only problem we are facing right now as of now by keeping two different versions is, the features added and the bugs fixed on the Windows version are not available to us. So how do we add those features to Linux version now? Making it cross-platform as soon as possible would mean that both Windows and Linux users could contribute together. Just my opinion. :-)
I respect your de

[2017-12-03 04:37] abhimanyuthakre commented on #41
@GS3207 You have to mention top level domain like "open facebook.com" with the ".com" at the end. If you add ".com" directly into the code, then benji will search only for the ".com" domains. But now, it gives results for every webpage like "python.org", "amazon.in", etc.

[2017-12-03 06:02] the-ethan-hunt commented on #40
We have this issue at #5 . Closing this one

[2017-12-03 06:02] #40 closed

[2017-12-03 06:03] #41 closed

[2017-12-03 06:05] #37 closed

[2017-12-03 17:45] Snehal-Reddy commented on #24
![b e n j i](https://user-images.githubusercontent.com/32029011/33527972-ba72b41e-d87f-11e7-840c-b78fff5bede2.jpg)
How's the logo ?

[2017-12-03 17:55] Snehal-Reddy commented on #24
![b e n j i](https://user-images.githubusercontent.com/32029011/33528061-46956d32-d881-11e7-914b-a2e9d3029df9.jpg)
hows the logo ?

[2017-12-03 18:57] Snehal-Reddy commented on #24
![benjifinal](https://user-images.githubusercontent.com/32029011/33528629-ea6a39b2-d889-11e7-9747-092d92019ba3.jpg)
how's this ?

[2017-12-03 18:58] the-ethan-hunt commented on #24
Excellent!!

On Dec 4, 2017 12:27 AM, "Snehal-Reddy" <notifications@github.com> wrote:

[2017-12-04 13:48] the-ethan-hunt opened #44 "Create setup.py"
We need to have a `setup.py` for both `Windows` and `Linux` versions of B.E.N.J.I. Please look [here](https://github.com/kennethreitz/setup.py) to know what actually this file contains

[2017-12-04 15:54] Yatish04 commented on #6
@the-ethan-hunt  you can close this issue

[2017-12-04 15:55] Yatish04 commented on #1
@the-ethan-hunt  you can close his issue also

[2017-12-04 15:57] the-ethan-hunt commented on #1
Closing it down for now

[2017-12-04 15:57] #1 closed

[2017-12-04 15:58] the-ethan-hunt commented on #6
Closing this issue for now

[2017-12-04 15:58] #6 closed

[2017-12-05 09:18] the-ethan-hunt commented on #24
@Snehal-Reddy , please submit a PR for this logo. :tada:

[2017-12-05 09:20] the-ethan-hunt commented on #11
Nice thoughts @kb-studios ! How about creating a folder titled "cross-platform" where you can tinker with the main code without affecting the original windows code. At the end of the coding period, I will merge it all. :smile:

[2017-12-05 10:37] falconis commented on #44
Can I work on this?

[2017-12-05 11:39] the-ethan-hunt commented on #44
Sure @falconis !

[2017-12-05 11:43] falconis commented on #44
Thanks!

[2017-12-06 09:02] the-ethan-hunt commented on #24
Closing this issue.

[2017-12-06 09:02] #24 closed

[2017-12-06 09:02] the-ethan-hunt commented on #13
closing this issue for now

[2017-12-06 09:02] #13 closed

[2017-12-06 11:07] Snehal-Reddy commented on #17
It will always be there in insights-contibutors , right ? What is the use of a separate file ?[https://github.com/the-ethan-hunt/B.E.N.J.I./graphs/contributors](url)

[2017-12-07 18:10] nityanandagohain commented on #2
@the-ethan-hunti i have submitted a pr #48

[2017-12-07 18:28] the-ethan-hunt opened #49 "List out what B.E.N.J.I. can do"
Make an `activities.md` to list what B.E.N.J.I. can do. For Linux one, make the markdown in the `Linux` folder. For windows version, make it in the `windows` version.

[2017-12-07 18:53] nityanandagohain commented on #5
i want to work on this

[2017-12-08 13:55] aribalam opened #52 "Cannot open any webpages (linux version)"
Their is a logical error code for opening webpages. The problem is in parsing the url link. It omits the 'dot' before 'com' and searches for the wrong address.
For eg. it opens 'facebookcom' instead of facebook.com.

[2017-12-08 15:18] rohanricky commented on #5
@nityanandagohain go ahead

[2017-12-08 17:09] the-ethan-hunt commented on #44
Closing this issue now

[2017-12-08 17:09] #44 closed

[2017-12-08 17:09] the-ethan-hunt commented on #52
@abhimanyuthakre , please provide the essential insight here :smile:

[2017-12-08 17:38] abhimanyuthakre commented on #52
Comment out 199th line of benji.py and it will work fine.

[2017-12-08 17:58] aribalam commented on #52
that fixed it! @abhimanyuthakre Can you just tell me what did that sub() function do?

[2017-12-09 00:55] kb-studios commented on #11
@the-ethan-hunt Sure, will go for it. We can keep this code for people to test! :smiley:

[2017-12-09 05:12] abhimanyuthakre commented on #52
sub() stands for substitute. It substituted the characters in the first parameter with the character mentioned in second parameter. This was the cause behind the removal of '.' from 'facebook.com'

[2017-12-09 08:39] aribalam commented on #52
Ok thanks a lot.

[2017-12-09 12:04] abhimanyuthakre commented on #52
You're welcome

[2017-12-09 12:23] eulerkochy commented on #5
Well I am intrigued by your project and wish to contribute..I will develop the GUI using Tkinter if you assign me the job to do so.

[2017-12-09 12:26] eulerkochy commented on #5
I will construct GUI for deployment only...you can add another issue for its testing!!

[2017-12-09 12:49] #52 closed

[2017-12-10 10:23] aniketgattani commented on #19
@BrianMwangi21 are u working on this issue? If not I would like to contribute

[2017-12-10 11:15] BrianMwangi21 commented on #19
Already worked on it and the pull request was merged

[2017-12-10 11:15] #19 closed

[2017-12-10 11:59] aniketgattani opened #58 "Benji alters the urls"
Try using this : 'open facebook.com' without quotes. Because of the regex benji alters the url to facebookcom and hence is unable to open the link.

[2017-12-11 13:12] AnirbanBanik1998 commented on #33
I will work on it

[2017-12-11 16:19] the-ethan-hunt commented on #58
@abhimanyuthakre , please take care of this.

[2017-12-11 16:19] #58 closed

[2017-12-11 16:19] the-ethan-hunt commented on #5
The issue has been resolved :smile:

[2017-12-11 16:19] #5 closed

[2017-12-12 17:15] the-ethan-hunt opened #64 "Duplicate windows"
The `Linux` version of B.E.N.J.I. get two command windows. This bug must be removed

[2017-12-12 20:55] aribalam opened #66 "Not displaying to tkinter widgets (linux)"
All information or messages are displayed to standard output rather than to tkinter widgets. Eg. All news information.

[2017-12-13 10:49] the-ethan-hunt commented on #66
Nice bug spotted @aribalam !

[2017-12-13 10:51] the-ethan-hunt commented on #33
@AnirbanBanik1998 , sure !

[2017-12-14 05:52] kb-studios commented on #64
This is as in 2 GUI pop-ups being displayed? One being the BENJI window, and an extra blank window?
Fixed this issue! 😄

[2017-12-14 11:19] the-ethan-hunt commented on #64
Great @kb-studios ! Just closing this issue

[2017-12-14 11:19] #64 closed

[2017-12-14 11:20] the-ethan-hunt commented on #66
Closing this issue for now

[2017-12-14 11:20] #66 closed

[2017-12-14 14:41] jitShaw7 commented on #49
Will like to work on it

[2017-12-14 16:38] the-ethan-hunt commented on #49
Yes, sure!

[2017-12-15 07:13] rohanricky opened #72 "lookfor feature not working"
`put1.startswith`, but put1 does not exist.
Also can someone reproduce the feature, it doesn't seem to work.

[2017-12-15 12:03] rishabh0098 commented on #72
The above code is obsolete.
the feature is working only for windows yet, I'm working on the linux part.
you can also give any suggestions and codes.

[2017-12-15 16:49] the-ethan-hunt commented on #72
PR #74 not improving it. The file feature is not working in Windows as well. :confused:

[2017-12-15 17:05] the-ethan-hunt opened #75 "Prettify UI"
We need a better UI. More in focus, a mission impossible themed UI

[2017-12-16 04:41] GS3207 commented on #75
Can I help?

[2017-12-16 10:32] the-ethan-hunt commented on #72
@rishabh0098 , care to explain :smile: ?

[2017-12-17 06:44] the-ethan-hunt commented on #72
Closing this issue for PR #74

[2017-12-17 06:44] #72 closed

[2017-12-17 13:28] GS3207 opened #81 "Failed to load icon from the file 'benji_final.ico'"
When I try to run the file benji.py in windows it gives me the following the error,
Failed to load icon from the file 'benji_final.ico' (error 0: the operation completed successfully.)

[2017-12-18 08:07] rishabh0098 commented on #23
Is there any way to work on this issue without having a MacBook ??

[2017-12-18 13:08] kb-studios commented on #23
You can use a Virtual Machine to do so. I feel the current linux version my be compatible with mac, you can try running that code on the VM.

[2017-12-18 13:56] rohanricky opened #83 "Clash between play and download!"
Since youtube play feature is above download it is causing few bugs errors.
For example, if I type download Coldplay Paradise, it contains play so it is playing the video. Similarily, Chainsmokers Bloodstream contains stream.

[2017-12-18 14:33] the-ethan-hunt commented on #83
Nice spotting the bug, @rohanricky !

[2017-12-18 14:36] the-ethan-hunt commented on #81
This is because you might not have the file in the same location as `benji.py`. Closing this issue

[2017-12-18 14:36] #81 closed

[2017-12-18 14:37] the-ethan-hunt commented on #83
This issue is open for discussion: @aribalam , @kb-studios @Yatish04 . You all are open to discuss this issue

[2017-12-18 14:38] the-ethan-hunt commented on #75
The Linux version has got a nice UI. Contributors are welcome to make one for Windows which is similar

[2017-12-18 14:44] kb-studios commented on #83
As this can be a very broad issue, can we start off using NLP gradually, maybe usinh nltk? We can do basic tokenizing.

[2017-12-18 14:57] the-ethan-hunt commented on #83
Good thinking @kb-studios ! But tokenizing  requires a knowledge of NLP. But though won't fix for sometime, this is a good issue for discussion

[2017-12-18 14:59] Yatish04 commented on #83
Yeah we have to use nlp at the end of the day.😀 So as of now it's limited

[2017-12-18 15:17] rohanricky commented on #83
For now we can reverse it's order to get it working :') or since we are using download and play at starting only we can use .startwith() for this also. This is just a quick fix eventually we can work on nlp.

[2017-12-18 15:20] the-ethan-hunt commented on #83
You are right @rohanricky in this sense. We can use that temporarily. You can work on this issue. but we are not closing it

[2017-12-24 02:08] lapalb commented on #49
I think this issue is resolved now. It's better to close it.

[2017-12-24 06:44] #49 closed

[2017-12-26 09:46] Snehal-Reddy commented on #23
Done , B.E.N.J.I is now working on MacOS. Pull request #91

[2017-12-28 17:21] #23 closed

[2017-12-30 14:27] NIteshx2 opened #98 "Play using youtube is facing problems"

[2017-12-30 14:29] NIteshx2 opened #99 "Play using youtube is facing problems"
When i tried to a play a song using "Play rockabye"
wrong link opens, most probably due to google ads **https://www.youtube.comhttps//googleads.g.doubleclick.net/aclk?**sa=l&ai=CmQlG1qFHWuWvNOORlAPg9oegDuDCmM9P2LXV9uEGwI23ARABIOP7kwNg5eLog_gpoAHe47ShA8gBAakCxjb9borPUD6oAwGqBKMBT9Cp6GTnbSXNOALv1JYogMJxX_ovvZYN6j_0HWjAnKl1Gug11lP9uTSTLtCUCshjM2vPMEAJwDrJ6_gtUNqY9fM7qNp-4uOLJLZmU5yPAtVeeQIP-lNcQDotab

[2017-12-30 17:23] #98 closed

[2017-12-30 17:24] the-ethan-hunt commented on #99
Hmm, the problem is occurring. Is it only in Windows or other OS also?

[2017-12-30 17:51] the-ethan-hunt commented on #99
Edit: This issue is occurring on all operating systems. Changing the issue labels
**THIS ISSUE IS NOT A KWoC ISSUE. Your PR will not be counted in the official stats**

[2018-01-01 13:50] #99 closed

[2018-01-01 13:51] #2 closed

[2018-01-01 13:51] the-ethan-hunt commented on #75
Closing it now

[2018-01-01 13:51] #75 closed

[2018-01-01 13:53] the-ethan-hunt opened #103 "Update Readme with working of B.E.N.J.I. on Mac OS"
Take a `.gif` and post it in `readme.md`  to show the working of B.E.N.J.I. on Mac OS

[2018-01-05 11:56] the-ethan-hunt opened #104 "After KWoC"
KWoC has turned out be a really fruitful period. Now, we need to work more on B.E.N.J.I.. Those interested please ping me here. Both KWoC participants and non-participants are welcomed to join!

[2018-01-06 05:00] NIteshx2 commented on #104
I'd definitely want to see how me make this, or any code modular, and a .exe file, if possible!

[2018-01-06 05:19] Kitwradr commented on #104
I would love to work on this

[2018-01-14 14:12] the-ethan-hunt commented on #104
The work might be a little under-stressed now but I will still not allow laziness.
- @NIteshx2 , I will certainly **not allow** the dilly-dallying you did in KWoC. Secondly, I don't know where you would help me out. Please explain what you can do in the project
- @Kitwradr , the same thing. I don't know how you might help. Can you explain me?

[2018-01-14 14:34] Kitwradr commented on #104
Can you tell me what I should do and the timeline by when I should complete it . I will tell you whether I can do it.

[2018-01-14 15:02] kb-studios commented on #104
I would like to continue with this project! 😄

[2018-01-14 15:19] abhimanyuthakre commented on #104
I am interested to work on this project further!

[2018-01-14 15:23] kb-studios commented on #104
I would like to continue on this project! 😄

[2018-01-14 15:39] Yatish04 commented on #104
Me too

[2018-01-14 16:18] gautamramuvel commented on #104
I am also interested to work !!

[2018-01-14 17:21] the-ethan-hunt commented on #104
- @Kitwradr what I meant is what are you proficient in? Code modularity, NLP or DL or anything else?
- @gautamramuvel , same question goes for you
- @Yatish04 , I want faster responses from you when I comment on your PR or send you a message(within 3-4 days)
We will wait for 21st January to start working back. In the meantime, you can study up something out of these:
- Making B.E.N.J.I. cross-plat

[2018-01-15 05:40] the-ethan-hunt commented on #104
@Kitwradr , no problem. I suggest you start with the `good first issues`. They are generally related to documentation and can be done easily. Also, you can study up something as I mentioned in my previous message

[2018-01-20 11:03] Kitwradr commented on #33
![my-movie1](https://user-images.githubusercontent.com/26614919/35182688-93a70538-fdff-11e7-81d2-9872670d5a39.gif)

[2018-01-20 11:03] Kitwradr commented on #33
is this fine @the-ethan-hunt

[2018-01-23 06:18] the-ethan-hunt commented on #104
Hello All! It's been a while since we talked. Please discuss what you might have read or done during this period on the slack channel.

[2018-01-23 19:05] Kitwradr commented on #33
Any suggestions?

[2018-01-26 16:27] the-ethan-hunt opened #105 "Implement deep learning"
Deep learning can be used for recommender systems for movies, books, and music. See the presentation for more details.

[2018-01-28 07:55] uds5501 commented on #105
This is do-able. I want to know in what format can I have the data and what all it will include. if it's going to be purely user's command based, then one can use **NLTK** repository.

I basically want to know what all data I can have to figure out which ML algo is the best in this case

[2018-01-30 15:24] the-ethan-hunt commented on #105
@uds5501 , you need to be more specific regarding your application. We are going to implement deep learning for three stuff:
- Movies
- Music
- Books
Each of the above topic might have a different algorithm or a different neural network. Similarly the dataset will be different.

[2018-01-30 15:25] the-ethan-hunt commented on #104
Pinging all! Where have you all been? :smile: . I got one question from @NIteshx2 and the others have not contacted me as of yet.

[2018-01-30 16:44] Kitwradr commented on #104
@the-ethan-hunt can you check issue #33 for my comments if you're ok with it i'll send PR

[2018-02-01 12:24] the-ethan-hunt commented on #33
Sorry for not noticing this @Kitwradr :sweat_smile: . Please make a PR for this. Closing this issue for now

[2018-02-01 12:24] #33 closed

[2018-06-08 14:18] omi10859 opened #107 "Chat on slack link not working"

[2018-06-10 06:12] the-ethan-hunt commented on #107
The slack link is working properly. Closing this issue

[2018-06-10 06:12] #107 closed

[2018-06-10 09:45] omi10859 commented on #107
![screen shot 2018-06-10 at 3 15 09 pm](https://user-images.githubusercontent.com/26123416/41200370-19fbc846-6cc1-11e8-9333-0b9ebbff6707.png)
I'm getting this :(

[2018-06-10 10:56] the-ethan-hunt commented on #104
Closing this issue due to stagnation

[2018-06-10 10:56] #104 closed

[2018-06-10 10:58] the-ethan-hunt opened #108 "Change user language"
B.E.N.J.I. can as of now understand only English language. We need to work if it can also understand other languages. For starter, let's go for mostly spoken easy to decipher languages like Spanish or French.
Hindi might require more work.

[2018-06-10 12:38] dhruvapte26 opened #109 "Improve UI"
The UI is great but we need a prettier and better UI.
Creative coders are welcome to solve this issue

[2018-06-14 20:49] arunikayadav42 commented on #109
Can I get started with this issue :)

[2018-06-15 10:53] the-ethan-hunt commented on #109
Sure! Assigned to @arunikayadav42

[2018-06-15 12:06] Pratik-Sanghani commented on #109
On which Platform you are going to work ??  @arunikayadav42

[2018-06-15 16:44] arunikayadav42 commented on #109
actually I have little idea as of now but I can sure use some help :)

[2018-06-17 04:59] the-ethan-hunt commented on #109
Feel free to ask for help @arunikayadav42

[2018-06-17 05:19] #17 closed

[2018-06-17 05:42] arunikayadav42 commented on #109
If you could tell me where do I start from?

[2018-06-17 11:06] the-ethan-hunt commented on #109
If you might have noticed, B.E.N.J.I. looks like a small bar on the desktop with a nerdy look.
Can we have somewhat 'science-themed' look?

[2018-06-18 01:45] arunikayadav42 commented on #109
I have a doubt..does benji run with python2 or python3 ?

[2018-06-18 12:01] the-ethan-hunt commented on #109
B.E.N.J.I. runs on Python 3. :sweat_smile:

[2018-06-18 19:20] arunikayadav42 commented on #109
ok ....

[2018-06-18 19:28] arunikayadav42 commented on #109
when i try to run benji.py under the linux folder it gives me error module not found .Can somebody help me?

[2018-06-19 04:36] kb-studios commented on #109
@arunikayadav42 The dependencies to be installed are specified in the requirements.txt file. All you need to do is run
[code]
This will install all necessary dependencies. :smile:

[2018-06-19 05:49] arunikayadav42 commented on #109
Cool Thanks :) but don't you think including it in the contribution.md would be better for contributors?

[2018-06-20 18:48] arunikayadav42 commented on #109
**Failed to build PyAudio
Installing collected packages: backports.functools-lru-cache, certifi, client, configparser, funcsigs, data, enum34, future, pexpect, ipython, parso, jedi, tempdir, shutilwhich, latex, mpmath, numpy, pytz, pandas, PyAudio, pylint, pyttsx3, regex, scandir, SpeechRecognition, style, update, wikipedia, wrapt, youtube-dl
  Found existing installation: certifi 2018.1.18
Cannot

[2018-06-20 19:35] arunikayadav42 commented on #109
also when I run it on linux I get the following error :
![screenshot from 2018-06-21 01-03-23](https://user-images.githubusercontent.com/28708494/41680447-25187694-74ef-11e8-8731-548b607c24e0.png)

[2018-06-20 19:38] arunikayadav42 commented on #109
Can I open an issue and work on it too?

[2018-06-20 20:11] arunikayadav42 commented on #109
Also it how do we shut it down?

[2018-06-20 20:19] arunikayadav42 commented on #109
Also it does not close,no matter what we do, after we force stop the execution of benji.py

[2018-06-22 13:40] the-ethan-hunt commented on #109
@arunikayadav42  a few things for you:

- **Please do not post unnecessary messages like "it's finally running yeayyy".** For such messages, markdown has a format.
- Before writing a message for having an error here, **please search your issue through Google/StackOverFlow or people on Slack**. Please don't clutter the space here.
- Opening an issue is easy. **Recognizing whether the issue is neede

[2018-06-22 15:13] arunikayadav42 commented on #109
I guess I did search stackoverflow a lot and only then posted my query here.Also benji did function absurdly on linux ubuntu LTS 16.04 ...not at all like the way it is shown in the gif.THe gif for linux is actually the way things work in windows I guess.Hence I thought a lot of issues can be opened.

[2018-06-22 15:48] the-ethan-hunt commented on #105
Update: We will for now begin with a music recommender system.

[2018-06-23 19:05] #11 closed

[2018-06-24 09:47] the-ethan-hunt opened #112 "B.E.N.J.I. to recognize user"
OpenCV might help in this case. If the user has not the right permissions, then B.E.N.J.I will directly shut down the system. The owner will have the permission to add any other user if he/she wishes to.

Assigned to @abhimanyuthakre

[2018-06-24 13:00] shubhpatel108 commented on #112
As a starting point, password based authentication should work fine?

We can use the standard Role-Resource-Privilege model irrespective of the input mode.

[2018-06-24 14:25] shubhpatel108 opened #114 "Add support for running commands on terminal"
Some thoughts:
1. Each command would have an alias. User says "Run <alias>" to trigger the command on new tab/window of the terminal. Setting these command can be done through either a web UI or cmd.
2. This is for devs who want to go a project directory immediately (similar to unix aliasing), or run cmake/make/ any build command.
3. Need to think more on how and whether we want to enable user to

[2018-06-24 14:30] shubhpatel108 opened #115 "Add support for wake word"
Instead of pressing button for waking, can we add support for a wake word?

[2018-06-25 06:01] arunikayadav42 commented on #109
@the-ethan-hunt can I use pyqt4?

[2018-06-25 06:07] arunikayadav42 commented on #105
@the-ethan-hunt can I work on this issue please :)

[2018-06-25 06:21] uds5501 commented on #105
@the-ethan-hunt May I know what all data attributes we will be provided? And as for recommendation engines, are you looking for a model collaborative filter with random forest or something else?

[2018-06-25 18:22] the-ethan-hunt commented on #114
Seems an okayish issue. But right now, we need to focus more on the DL/ML part of B.E.N.J.I.

[2018-06-25 18:24] the-ethan-hunt commented on #109
You are free to use any package; provided that it beautifies the assistant more.

[2018-06-25 18:30] the-ethan-hunt commented on #105
@arunikayadav42 you are already working on #109 . Please complete the issue and then proceed on this one :smile:
@uds5501 a collaborative filter model is a great idea indeed. Data attributes will be provided akin to the [Netflix dataset](https://www.kaggle.com/netflix-inc/netflix-prize-data); but instead for music.
Hope you get the idea :smile:

[2018-06-26 16:04] uds5501 commented on #105
@the-ethan-hunt  Seen the data, I would get back to you soon as soon as I think I've created a plan for the same!

[2018-06-27 06:19] uds5501 commented on #105
@the-ethan-hunt , have a look at this excellent Kernel . It uses User-User Rating Collaborative Filter with Singular Value Decomposition. We just need a way to save the model weights (It isn't as easy as it usually is in Keras), Any suggestions on that?

[2018-06-27 13:57] the-ethan-hunt commented on #105
Assigned to @uds5501 .
P.S. You have not included the link to the kernel.

[2018-06-30 07:04] CodHeK opened #116 "Add a reminder feature"
Desp: The feature must be such that the user must be able to set events which directly get updated in the pc's calender.
Eg: If the user types in "Farewell Party on 23/7/18 (some date format) at 6pm" it needs to directly upatde as an event on the calender

[2018-07-01 10:06] hmangukia commented on #116
Can I work on this issue @the-ethan-hunt ?

[2018-07-02 15:18] hmangukia commented on #116
I am working on adding event on the Google Calendar, @CodHeK @the-ethan-hunt, and so it will also remind the user on that particular day.

[2018-07-02 17:02] the-ethan-hunt commented on #116
Alright @hmangukia .

[2018-07-02 17:05] the-ethan-hunt opened #119 "Write a guide"
although we have an `activities.md` folder, now B.E.N.J.I. is expanding and we need to have a help guide either on wiki, Github Gist or just markdown pages. Basic example guide pages include
-  How to install on various OS
- How to use the different features
- FAQs
-  Bug reporting
P.S. The issue might seem very easy but requires **heavy documentation with proper language**. Please **don't take th

[2018-07-02 17:06] #115 closed

[2018-07-03 03:25] CodHeK opened #120 "Make a commands button"
Along with the mic button, try to add a button which enlists all the commands BENJI can process

[2018-07-03 03:59] the-ethan-hunt commented on #120
We are trying to make a guide for B.E.N.J.I. Hence this issue might be more directed to the 'guide button'.  But right now the guide is in process of making. This is an issue for the future.

[2018-07-03 10:29] Shristy2404 commented on #119
I can attempt this. One problem though that I have Windows and Linux so I'll update for those, I won't be able to add much for Mac than what already exists. Can I take this up?

[2018-07-03 12:45] the-ethan-hunt commented on #119
@Shristy2404 Please explain how you would be working on this. Elaborately

[2018-07-06 09:48] sara-02 opened #121 "Updates required in the README.md"
The list of updates required are

- [ ] Under Note 1, list GSSoC as well. NOTE1 can be rewritten as `BENJI has participated in the following Open Source Programs: Kharagpur Winter of Code 2017, GirlScript Summer of Code 2018`
- [ ] Under Note 1: The link to KWoC is broken, better not to create any hyperlink.
- [ ] Under Note2: The link to the Open Source Summit is broken.

[2018-07-06 15:00] #112 closed

[2018-07-08 07:31] AneriMehta commented on #121
I would like to contribute and update the README file.

[2018-07-08 10:46] the-ethan-hunt commented on #121
Assigned to @AneriMehta

[2018-07-09 14:09] hmangukia commented on #116
Please review the PR and let me know if any changes need to be made 😄

[2018-07-09 15:48] #121 closed

[2018-07-10 14:19] hmangukia commented on #108
Can I work on this @the-ethan-hunt ? I do not know French or Spanish but could try and start by minor things by Googling them, if it's okay.

[2018-07-10 16:06] the-ethan-hunt commented on #108
@hmangukia will you explain how will you go through the issue briefly?

[2018-07-11 11:52] hmangukia commented on #108
Everything that is possible in English, I will try to implement it in Spanish or French. For example, if user asks "quién eres tú", B.E.N.J.I will answer "Yo soy B.E.N.J.I., un asistente digital desclasificado para uso civil. Previamente fui utilizado por lo imposible misiones fuerza". @the-ethan-hunt

[2018-07-11 15:02] the-ethan-hunt commented on #108
@hmangukia I mean what will be your approach? Will it be NLP? Or just a simple Google Translate API? Or anything else?

[2018-07-12 04:19] hmangukia commented on #108
For now I am thinking to use Google translate API. @the-ethan-hunt

[2018-07-12 12:02] sara-02 opened #129 "Add a pylinter.sh for local testing."
Add a bash script to check for linting issues, so that contributors can have their code properly linted before submitting the pull request.
Files required to be added
1.  `pylinter.sh` Eg: https://github.com/fabric8-analytics/f8a-hpf-insights/blob/master/run-linter.sh
2.  `setup.cfg` Egs: https://github.com/fabric8-analytics/f8a-hpf-insights/blob/master/setup.cfg and/or https://github.com/systers/

[2018-07-16 09:43] Man-Jain commented on #129
I would like to work on this issue. Can you please assign it to me?

[2018-07-16 18:16] the-ethan-hunt commented on #129
Assigned to @Man-Jain

[2018-07-16 19:55] Man-Jain commented on #129
@sara-02 Can you please specify what parameters should I add in the setup.cfg file.

[2018-07-16 20:23] sara-02 commented on #129
@Man-Jain Let us ignore only `W504`. So our file should look like
[code]
List of all configurations, http://pycodestyle.pycqa.org/en/latest/intro.html

[2018-07-16 20:23] sara-02 commented on #129
@the-ethan-hunt Do you have any preferences? Especially with `max-line-length`

[2018-07-16 20:31] sara-02 commented on #129
You will have to fix them. So you will basically create 2 PR, one with the scripts, and other with the corrected code, fixing indents and rest of error.

[2018-07-18 10:00] sara-02 commented on #31
@the-ethan-hunt Since the main discussion is happening on issue #32 , we can mark this issue as duplicate and close it.

[2018-07-18 10:00] sara-02 commented on #32
@the-ethan-hunt Since this issue is still valid, I would rather emove the `KWoC` tag from it.

[2018-07-18 10:14] sara-02 commented on #116
@the-ethan-hunt Since PR #122 is merged, we can close this now.

[2018-07-18 16:56] the-ethan-hunt commented on #129
@Man-Jain since this requires 2 PR and considerable work, I am extending the GSSoC score for this to Pro

[2018-07-23 13:23] sara-02 commented on #129
@Man-Jain yes, errors will be there. Lets send a PR one file at a time. run the linter script for the first time, and see the final result x/y files need fixing. Then pick of the files, improve it accoring to the suggestions given by the linter, and then run the script again. This time you should see x-1/y files need fixing. Send a PR for that fixed file, and so on.

[2018-07-23 13:39] Man-Jain commented on #129
@sara-02 But this process will take a lot of time as there are a lot of files with lot of errors.

[2018-07-23 14:01] sara-02 commented on #129
@Man-Jain You don't have to be the only one working on this issue. Also, all modern text editors and IDEs come with autopep8 compliance. So if you open an unformatted file, upon saving they will format it according to the pep8 standards. So you manually do not have to do it, except for opening and saving the files once in the IDEs.

[2018-07-23 14:29] abhimanyuthakre commented on #3
I have an idea of showing user the lyrics by using "lyrics song_name". If there are songs with similar names, user can use more specific string which includes singer too, as the result would be about the famous song only. This feature will directly lead to the website. @the-ethan-hunt @sara-02

[2018-07-24 17:50] the-ethan-hunt commented on #3
This seems good @abhimanyuthakre . We can also use a music recognizer (like Shazam!) incorporated with this functionality.
P.S. @sara-02 , @abhimanyuthakre is the other maintainer of the project. 😄

[2018-07-27 06:45] sara-02 opened #135 "Add unit tests"
Add unit tests to test different features of BENJI.
Some may require mocking data(if they are talking to external APIS)
Resources to get started with testing in Python:
1. https://jeffknupp.com/blog/2013/12/09/improve-your-python-understanding-unit-testing/
2.  https://www.geeksforgeeks.org/unit-testing-python-unittest/

[2018-07-27 06:47] sara-02 opened #136 "Add Doctsrings: Improve Documentation"
The project requires doc-strings support for the implemented functions and classes. It will help in an easier understanding of code for newcomers.
The best way is to follow the Python's PEP8 Docstring convention.
More details here: https://www.python.org/dev/peps/pep-0257/

[2018-07-27 06:49] sara-02 opened #137 "Add checks for docstring"
Add a bash script to check if the Python Docstring conventions are being followed or not, and how to keep the code Docstring friendly.
Sample Script:
https://github.com/fabric8-analytics/f8a-hpf-insights/blob/master/check-docstyle.sh

[2018-07-28 20:54] Pratik-Sanghani commented on #3
Sorry , @sara-02 @the-ethan-hunt @abhimanyuthakre .
I was not aware from this and direct implemented the feature.
Please review this. :)

[2018-08-16 08:48] sourabh1031 commented on #136
@sara-02 i will be taking up the issue

[2018-08-16 08:55] sara-02 commented on #136
@sourabh1031 sure.

[2018-08-22 18:39] #129 closed

[2018-11-16 13:04] the-ethan-hunt opened #141 "Add a Gitter badge"
We will now chat on Gitter! Here's the [link](https://gitter.im/B-E-N-J-I/Lobby)
Remove the Slack link.

[2018-12-03 02:05] rahulkumaran commented on #141
I'd like to take this up, if nobody's already working on this.

[2018-12-03 12:39] the-ethan-hunt commented on #141
Sure. Assigned to @rahulkumaran

[2018-12-09 07:19] #141 closed

[2019-02-16 06:06] #116 closed

[2019-02-23 21:16] angelapwen commented on #103
I've got the .gif ready and will post and edit the README. I also have some extra setup comments to add to the README; should this be a separate issue or could I do them together here?

[2019-02-28 17:43] HemabhKamboj commented on #32
@the-ethan-hunt,  I am working under GSSoC 19. Can I start working with this issue, if its ok as of now? Also, I will first breakdown Linux version, then go for windows.

[2019-03-01 09:26] agarwalrounak commented on #136
I will work on it.

[2019-03-01 19:34] HemabhKamboj commented on #119
I can work on this under GSSoC 19, for Windows and Linux

Markdown pages will be a good option, but also we can think to create a wiki on GH pages, will look better with some CSS. I think GitHub gists won't be a good option.

- For installation on OS, A step by step guide, from cloning to running scripts and screenshots (or gif of the whole installation or video guide with narrative steps uploaded

[2019-03-01 21:47] angelapwen commented on #119
I can do this for MacOS and make sure it matched the Windows and Linux installation formats and such 😊 also under GSSoC 19

[2019-03-02 07:41] Arunkumar0258 commented on #105
Hello, I can work on making a content-based filtered movie recommender system for BENJI. I can make start by making a simple NLP based system and then transitioning into a Deep Learning approach if needed.

[2019-03-02 07:58] the-ethan-hunt commented on #105
Assigned to @Arunkumar0258

[2019-03-02 07:59] the-ethan-hunt commented on #119
For Windows: Assigned to @HemabhKamboj
For Mac OS: Assigned to @angelapwen

[2019-03-02 07:59] the-ethan-hunt commented on #136
Assigned to @agarwalrounak

[2019-03-02 08:03] HemabhKamboj commented on #119
For linux also.

[2019-03-02 12:14] shruthi0898 commented on #105
Hi, I would like to work on a books recommender. Can I please get assigned on this and get details of the dataset?

[2019-03-03 12:32] the-ethan-hunt commented on #105
Book recommender system assigned to @shruthi0898

[2019-03-03 18:08] angelapwen commented on #103
@the-ethan-hunt could you assign this to me and let me know about the question above? Thanks!

[2019-03-04 08:31] srishilesh commented on #32
@the-ethan-hunt I'll go for working out this issue in Windows.

[2019-03-08 09:41] #136 closed

[2019-03-08 09:43] the-ethan-hunt commented on #103
@angelapwen it has been assigned to you. :smile:

[2019-03-15 16:34] angelapwen commented on #109
I will work on this issue 😃

[2019-03-15 16:36] angelapwen commented on #119
Hi Dhruv, I was looking at https://github.com/the-ethan-hunt/B.E.N.J.I./community and wondering if you would want us to create pages for Contributing.md and the other two, for Pull Request and Issue Templates as well?

If you want us to create them, would you want these within the FAQ, or separate markdown files in the main repo?

[2019-03-18 17:18] the-ethan-hunt commented on #119
@angelapwen sounds nice, but you already have an issue assigned. How about you work on that and then the templates? :smile:

[2019-03-18 17:18] the-ethan-hunt commented on #109
Assigned to @angelapwen

[2019-03-18 17:19] #103 closed

[2019-03-18 18:18] amrutha3 commented on #105
Hey there @the-ethan-hunt! I would like to work on the music recommender system provided the dataset is given. I have some knowledge on the implementation of a recommender system and the math behind it . I'll try to implement it in Python.

[2019-03-19 03:46] angelapwen commented on #119
@the-ethan-hunt Yes, sure! I'll work on the other issue. Maybe @HemabhKamboj can submit the PR for Linux/Windows, and once that one is merged I will follow his format to submit a separate PR for Mac. And after the other issue, the templates. ✔️

[2019-03-20 15:28] srishilesh commented on #32
Please add GSSoC 19 label

[2019-03-21 17:48] the-ethan-hunt commented on #31
Assigning to @srishilesh from Issue #32

[2019-03-23 07:13] Aayushijain64 commented on #108
Can even with the language translator we can make the web camera active and even take the sign language and convert in the text and then act accordingly? Just a suggestion!

[2019-03-24 06:32] the-ethan-hunt commented on #108
@Aayushijain64 brilliantly thought! This is something really awesome! Assigned to @Aayushijain64

[2019-03-26 11:37] Pradhvan commented on #135
I can take this up @sara-02

Just one question why use Unit test, if possible we should move to PyTest it makes testing a bit more Pythonic :smile:

[2019-06-19 13:19] #31 closed

[2020-01-27 18:08] hbmartin opened #150 "pytube3"
Hello, opening this issue to let you know that there is a new, actively maintained, Python3 only pytube fork: https://github.com/hbmartin/pytube3